# Week 13 Review Assignmnet

For the questions below, we're going to refer exclusively to an HHCAPS survey data set that is available in `/data/hhcaps.csv`.  Use whatever commands you want to calculate the information required to get to the answer.  Then, enter your answer in the answers cell as usual.

**NOTE: Enter your answers as string values (inside quotation marks "") even if the answer is actually numeric.**

---
---

In [1]:
%matplotlib inline
import pandas as pd

hhcaps = pd.read_csv('/data/hhcaps.csv')

## #01 - 

How many columns does this file contain?

In [2]:
len(hhcaps.columns)

39

In [3]:
answers={}
answers['40.1'] = "39"

## #02 - 

How many different values for State are there in this file?

In [4]:
hhcaps.State.unique().shape

(55,)

In [5]:
answers['40.2'] = "55"

## #03 - 

Which of those State values has the highest frequency of occurence?

In [6]:
hhcaps.State.value_counts()

TX    2518
CA    1319
FL    1069
OH     781
IL     735
MI     597
PA     425
MA     261
OK     256
VA     244
IN     229
MN     197
LA     195
CO     187
NC     174
AR     172
MO     169
AZ     169
IA     163
AL     152
NV     143
NY     141
TN     140
WI     119
KS     117
GA     106
KY     104
UT      98
CT      91
NM      77
NE      75
SC      70
WA      63
WV      61
OR      57
MD      53
MS      48
NJ      47
ID      45
PR      45
SD      33
NH      31
DC      28
RI      27
MT      27
WY      26
DE      26
ME      24
ND      18
HI      16
AK      14
VT      11
GU       4
MP       2
VI       1
Name: State, dtype: int64

In [7]:
answers['40.3'] = "TX"

## #04 - 

Which of those State values has the best average performance on the `Star Rating for health team communicated well with them` score?

In [8]:
hhcaps.groupby("State").agg({"Star Rating for how patients rated overall care from agency":'mean'}).sort_values(by = "Star Rating for how patients rated overall care from agency")

       Star Rating for how patients rated overall care from agency
State
DC                                              1.666667
VI                                              2.000000
OR                                              2.522727
NV                                              2.605634
AZ                                              2.626506
CA                                              2.645492
MN                                              2.663366
AK                                              2.666667
WA                                              2.696429
NY                                              2.737864
CT                                              2.898551
UT                                              2.905660
NJ                                              2.976190
NM                                              3.017857
MD                                              3.021739
VA                                              3.040268
MI                                              3.060465
PR                                              3.076923
CO                                              3.083333
WI                                              3.086957
OH                                              3.107639
FL                                              3.136929
ND                                              3.166667
WY                                              3.166667
HI                                              3.181818
GA                                              3.195876
RI                                              3.210526
NE                                              3.222222
ID                                              3.222222
DE                                              3.230769
MT                                              3.277778
IL                                              3.287197
MA                                              3.326923
IN                                              3.345865
KS                                              3.348485
IA                                              3.397959
NH                                              3.409091
SD                                              3.416667
PA                                              3.449761
VT                                              3.454545
TX                                              3.464684
NC                                              3.473684
MO                                              3.522124
TN                                              3.525424
OK                                              3.526316
SC                                              3.616667
AR                                              3.705128
AL                                              3.846154
ME                                              3.850000
LA                                              3.859756
KY                                              3.865979
WV                                              4.019608
MS                                              4.090909
GU                                                   NaN
MP                                                   NaN

In [9]:
answers['40.4'] = "MS"

## #05 - 

What was the average score on `Star Rating for how patients rated overall care from agency` for providers listed as having a `Type of Ownership` of `Hospital Based Program`

**NOTE: Enter your answer with two decimal precision: 0.00**

In [10]:
hhcaps.groupby("Type of Ownership").agg({"Star Rating for how patients rated overall care from agency":'mean'})

                                        Star Rating for how patients rated overall care from agency
Type of Ownership
Combination Government Voluntary                                                 3.666667
Hospital Based Program                                                           3.692521
Local                                                                            3.159980
Official Health Agency                                                           3.247588
Rehabilitation Facility Based Program                                            4.000000
Skilled Nursing Facility Based Program                                           2.680000
Visiting Nurse Association                                                       3.200924

In [11]:
answers['40.5'] = "3.69"

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [12]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week13",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
# print(result)

try:
    print('{0:>5}{1:>20}{2:>10}'.format('Q#','Yours','Correct?'))
    for row in result.get('results'):
        print('{0:>5}{1:>20}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))
except:
    print(result)

   Q#               Yours  Correct?
 40.1                  39        OK
 40.2                  55        OK
 40.3                  TX        OK
 40.4                  MS        NO
 40.5                3.69        OK

---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Follow the instruction on the prompt below to either ssave and submit your work, or continue working.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

---

In [ ]:
a=input('''
Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

''')

if a=='yes':
    !git add week13_assignment_1.ipynb
    !git commit -a -m "Submitting the week 13 review exercises"
    !git push
else:
    print('''
    
OK. We can wait.
''')